import os;

# import created custom_env & custom_vars
Import('*');

if build_kind == 'init' :
	# Extend sconscripts list
	ss_tree = ss_tree + [
			'plugins/bs_cube/SConscript',
			'client/SConscript'
			];
	Export('ss_tree');
else :
	# set my custon environment 
	custom_env.AppendUnique(
		CPPPATH = ['/home/uentity/lib/boost'],
		LIBPATH = ['/home/uentity/lib/boost/lib'],
		RPATH = ['/home/uentity/lib/boost/lib']
	#	,CPPDEFINES = ['BS_DISABLE_MT_LOCKS']
	);
#	if build_kind == 'debug' :
#		custom_env.AppendUnique(CCFLAGS = ['-O0', '-ggdb']);
	if build_kind == 'release' :
		custom_env.AppendUnique(CCFLAGS = ['-mtune=core2', '-mmmx', '-mssse3']);
	Export('custom_env');

