import os;

# import created custom_env & custom_vars
Import('*');

if build_kind == 'init' :
	# Append sconscripts for custom build
	ss_tree = ss_tree + [
			'plugins/bs_cube/SConscript',
			'client/SConscript'
			];
	Export('ss_tree');
else :
	# set my custon environment 
	custom_env.Replace(
	# don't include all external environment unless you can't build without it
	#	ENV = os.environ,
		CPPDEFINES = ['UNIX'],
		CCFLAGS = ['-W', '-Wall', '-Wno-deprecated', '-fvisibility=hidden', '-fvisibility-inlines-hidden', '-pipe'],
		CPPPATH = ['/home/uentity/lib/boost', '/usr/include/python2.6'],
		LIBPATH = ['/home/uentity/lib/boost/lib'],
		RPATH = ['/home/uentity/lib/boost/lib']
	);
	if build_kind == 'debug' :
		custom_env.Append(CCFLAGS = ['-O0', '-ggdb']);
	elif build_kind == 'release' :
		custom_env.Append(CCFLAGS = ['-O3', '-mtune=core2', '-mmmx', '-mssse3', '-ftree-vectorize']);
	Export('custom_env');

